<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mo'men">
    <!-- Title -->
    <title>KokoDraw - Login Page</title>
    <!-- Links to css -->
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/js/jquery-ui/jquery-ui.min.css'/>
    <link rel='stylesheet' href='/css/font-awesome/css/font-awesome.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/validator.js"></script>
    <link rel='stylesheet' href='/css/join.css'/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1></h1></br>
        <h1 class="home-title">Join a room</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            </br>
            </br>
            </br>
            </br>
            <div class="form-horizontal">
                <label for="room">Room ID </label>
                <div class="form-inline">
                    <form class="form-signin" action='joinroom' method="POST">
                        <input type="text" name="roomid" value="" class="form-control" placeholder="Enter the room TOKEN"
                               style="width:84%" autofocus required>
                        <button class="btn" type="submit">Join</button>
                    </form>
                </div>
            </div><!-- form-group -->

            </br>
            </br>
            <form class="form-signin" action='create' method="POST">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create new room</button>
            </form>

        </div><!-- col-md-4 -->

    </div><!-- row -->
</div>

<div class="container"></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui/jquery-ui.min.js"></script>
</body>
</html>

