<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta -->
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mo'men">
    <!-- Title -->
    <title>KokoDraw</title>
    <!-- Links to css -->
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <!--<link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>-->
    <link rel='stylesheet' href='/js/jquery-ui/jquery-ui.min.css'/>
    <link rel='stylesheet' href='/css/font-awesome/css/font-awesome.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/validator.js"></script>
    <script type="text/javascript" src="/js/paper-full.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/drawing.js"></script>

    <link rel='stylesheet' href='/css/chat.css'/>
    <link rel='stylesheet' href='/css/room.css'/>

</head>
<body>
<div class="fluid-container">
    <div class="row" style="margin: 0px; ">
        <div class="col-sm-3">
            <div class="panel" style="background-color: #4D394B;padding-top: 20px">
                <h4 style="text-align: center;color:white;"><strong><%= token %></strong></h4>
                <!--Widget body-->
                <div class="nano has-scrollbar" id="chat_height">
                    <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                        <ul class="list-unstyled media-block chat-block">

                        </ul>
                    </div>
                </div>

                <!--Widget footer-->
                <div class="panel-footer" style="background-color: #4D394B;">
                    <div class="row">
                        <div class="col-xs-9">
                            <input id='input' type="text" placeholder="Enter your message" class="form-control chat-input">
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-default" type="submit" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <br>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shapes <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="" onclick="changeMyTool('Path')"><i class="fa-paint-brush"></i> Path</button>
                        </li>
                        <li>
                            <button type="button" class="" onclick="changeMyTool('Circle')"><i class="fa-circle"></i> Circle</button>
                        </li>
                        <li>
                            <button type="button" class="" onclick="changeMyTool('Rect')"><i class="fa-square"></i> Square</button>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Colors <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="" onclick="changeColor(0, 0, 0)">BLACK</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:red;" onclick="changeColor(1, 0, 0)">RED</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:green;" onclick="changeColor(0, 1, 0)">GREEN</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:blue;" onclick="changeColor(0, 0, 1)">BLUE</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:yellow;" onclick="changeColor(1, 1, 0)">YELLOW</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:cyan;" onclick="changeColor(0, 1, 1)">CYAN</button>
                        </li>
                        <li>
                            <button type="button" class="" style="color:magenta;" onclick="changeColor(1, 0, 1)">MAGENTA</button>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="changeColor(1, 1, 1)"><i class="fa-eraser"></i> Eraser</button>
                </div>
                <div class="btn-group" role="group">
                    <form class="form-signin" action='export' method="POST">
                        <button class="btn btn-default" type="submit">Export to Image</button>
                    </form>
                </div>
                <div class="btn-group" role="group">
                    <form class="" action='leaveroom' method="POST" role="form">
                        <button class="btn btn-default" type="submit">Leave Room</button>
                    </form>
                </div>
                <div class="btn-group" role="group">
                    <form class="" action='logout' method="POST" role="form">
                        <button class="btn btn-default" type="submit">Log out</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row" id="row_canvas">
                <canvas id="myCanvas" style="height: inherit;"></canvas>
            </div>
        </div>
    </div>
</div>
<p hidden id="user-id"><%= userid %></p>
<p hidden id="user-name"><%= username %></p>
<p hidden id="room-id"><%= token %></p>
</body>
</html>