<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta -->
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mo'men">
    <!-- Title -->
    <title>KokoDraw</title>
    <!-- Links to css -->
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/js/jquery-ui/jquery-ui.min.css'/>
    <link rel='stylesheet' href='/css/font-awesome/css/font-awesome.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/validator.js"></script>
    <script type="text/javascript" src="js/paper-full.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/drawing.js"></script>

    <link rel='stylesheet' href='/css/chat.css'/>
    <link rel='stylesheet' href='/css/room.css'/>

</head>
<body>
<div class="fluid-container">
    <div class="row" style="margin: 0">
        <div class="col-sm-3">
            <div class="panel">
                <!--Heading-->
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">Room Chat</h3>
                </div>

                <!--Widget body-->
                <div class="nano has-scrollbar" id="chat_height">
                    <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                        <ul class="list-unstyled media-block chat-block">

                        </ul>
                    </div>
                </div>

                <!--Widget footer-->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-9">
                            <input id='input' type="text" placeholder="Enter your text" class="form-control chat-input">
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary btn-block" type="submit" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <button type="button" onclick="changeColor(0, 0, 0)">BLACK</button>
                <button type="button" onclick="changeColor(1, 0, 0)">RED</button>
                <button type="button" onclick="changeColor(0, 1, 0)">GREEN</button>
                <button type="button" onclick="changeColor(0, 0, 1)">BLUE</button>
                <button type="button" onclick="changeColor(1, 1, 0)">YELLOW</button>
                <button type="button" onclick="changeColor(1, 0, 1)">MAGENTA</button>
                <button type="button" onclick="changeColor(0, 1, 1)">CYAN</button>
                <button type="button" onclick="changeColor(1, 1, 1)">ERASER</button>
                <button type="button" onclick="changeMyTool('Path')">Path</button>
                <button type="button" onclick="changeMyTool('Circle')">Circle</button>
                <button type="button" onclick="changeMyTool('Rect')">Square</button>
            </div>
            <div class="row" id="row_canvas">
                <canvas id="myCanvas" style="height: inherit;"></canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>